{% extends "shareblock/base.html" %}
{% block content %}
  <main id="main">

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
          
          <div class="section-title">
            <h2>Resume</h2>
            <p>{{mainText.mainText}}</p>
            <button id="changeLan">Language</button>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                {% for e in education %}
                  <h4>{{e.name}}</h4>
                  <h5>{{e.start}} - {{e.end}}</h5>
                  <p><em>{{e.location}}</em></p>
                  <p>{{e.mainText}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              {% for e in experience %}
              <div class="resume-item">
                <h4>{{e.name}}</h4>
                <h5>{{e.start}} - {{e.end}}</h5>
                <p><em>{{e.location}}</em></p>
                {% for d in e.getDetails %}
                <p>
                <ul>
                  <li>{{ d.detail }}</li>
                </ul>
                </p>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </section><!-- End Resume Section -->

    </main><!-- End #main -->
  {% endblock content %}

  {% load static %}
  {% block js %} 
    <script type="text/javascript" src="{% static 'javascript/ajax.js' %}"></script>
  {% endblock js %}